body{
  font-family: "Gabarito", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
}

/*navber*/

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar__s2 input:focus{
    outline: none;

}

.navbar__s3{
    display: flex;
    gap: 20px;
    align-items: center;
}

.mylearning{
    position: relative;
    cursor: pointer;
}

.mylearning__popup{
    position: absolute;
    border: solid black 1px;
    background-color: white;
    width: 100px;
    padding: 10px;
    top: 40px;
    right: 0;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;

}

/*categories*/

.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid gray 1px;
    justify-content: space-around;
    
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid #A435F0 1px;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: black;
    border: solid #A435F0 1px;
}

 /* Container holding the image and the text */
 .sale-image{
    position: relative;
  }
  .sale-image img{
    width: 100%;
  }
 
.sale-image__offer{
    position: absolute;
    top: 50px;
    left: 60px;
    background-color: white;
    color: #3E4143;
    width: 400px;
    padding: 25px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode:forwards ;
  }

  @keyframes zoom{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        
    }
  }
  .sale-image__offer h1{
      margin-bottom:1px ;
  }
  .sale-image__offer button{
      padding: 10px;
      background-color: #3E4143;
      color: white;
      font-size: 20px;
      margin-top: 10px;
  }
  .sale-image__offer button:hover{
    background-color: #686b6d;
    color: white;
    
  }


.recommened{
    padding: 10px
}
.recommened__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 10px
}
.course-card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.course-card img:hover{
    opacity: 0.8;
}
.course-card h3,p{
    margin: 5px;

}
.course-card__name{
    color: grey;
}
.course-card img{
    height: 50%; 
    width: 100%;
}

.topics{
    padding: 10px;
}
.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
    
}
.topics__container p{
    border: solid gray 2px;
    border-radius: 10px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.topics__container p:hover{
    background-color: gray;
    color: white;
}

.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
    
}

.footer__one{
    display: flex;
    gap: 20px;
    
}

.footer__one p{
    margin-top: 20px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    

}

/* Media queries */

@media screen and (max-width:800px) {
    body{
        font-size: 12px;
    }
    
}
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
    }
    .navbar__s3,.navbar__s2{
        display: none;
    }
    
}
@media screen and (max-width:900px) {
    .sale-image__offer{
        width: 130px;
        height: 100px;
        font-size: 10px;
        padding: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        margin-bottom: 40px;
        transition: 1s;
    }
    .sale-image__offer button{
        font-size: 10px;
        padding: 5px;
    }
    .categories{
        display: none;
    }
    .sale-image__offer button{
        padding: 5px;
        margin-top: 3px;
    }
    .sale-image__offer p{
        display: none;
    }
    
}



